<!DOCTYPE html>
<html>
<head>
    <title>Calculadora</title>
    <link rel="stylesheet" type="text/css" href="static/css/calculadora.css">
</head>
<body>
    <div class="calculator">
      <input type="text" class="display" id="display" readonly>
      <div class="buttons">
        <div class="row">
          <button class="operator" data-key="/">/</button>
          <button data-key="7">7</button>
          <button data-key="8">8</button>
          <button data-key="9">9</button>
        </div>
        <div class="row">
          <button class="operator" data-key="*">*</button>
          <button data-key="4">4</button>
          <button data-key="5">5</button>
          <button data-key="6">6</button>
        </div>
        <div class="row">
          <button class="operator" data-key="-">-</button>
          <button data-key="1">1</button>
          <button data-key="2">2</button>
          <button data-key="3">3</button>
        </div>
        <div class="row">
          <button class="operator" data-key="+">+</button>
          <button data-key="0">0</button>
          <button data-key="C">C</button>
          <button data-key="Enter">=</button>
        </div>
      </div>
    </div>

    <script src="static/js/calculadora.js"></script>
</body>
</html>
